{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Feedback
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "feedback."} %}
            {% endblock %}
        {% endembed %}

        <table class="table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th class="col-sm-2">Project</th>
                <th>Rating</th>
                <th>User</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('feedback.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>
                        {% if entity.image is defined and entity.image is not null %}
                            <div class="imagePreview text-center">
                                <img class="img-thumbnail"
                                     src="{{ zantolov_uploader_asset(entity.image, 'imageFile', null, false) | imagine_filter('thumb') }}"/>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {{ entity.project.name }}
                        <a class="btn btn-default btn-xs pull-right"
                           title="Go to project"
                           href="{{ path('project.show', { 'id': entity.project.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </td>
                    <td>{{ entity.rating }}</td>
                    <td>{{ entity.user.email }}</td>

                    <td>{{ entity.latitude }}</td>
                    <td>{{ entity.longitude }}</td>
                    <td class="text-right">
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('feedback.show', { 'id': entity.id }) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('feedback.edit', { 'id': entity.id }) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
