{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                New Feedback
            {% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a onclick="$('#lovitbundle_feedback_submit').click();" href="javascript:void(0)"
                           class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Update
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('feedback.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                </ul>
            {% endblock %}
        {% endembed %}
        {{ form(form) }}

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('feedback.index') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
        </ul>
    {% endblock %}
