{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Feedback
            {% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('feedback.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('feedback.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <div class="col-md-7">
            <table class="table">
                <tbody>
                <tr>
                    <th class="col-sm-2">Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Project</th>
                    <td>{{ entity.project.name }}

                        <a class="btn btn-primary btn-xs pull-right"
                           title="Go to project"
                           href="{{ path('project.show', { 'id': entity.project.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>{{ entity.rating }}</td>
                </tr>
                <tr>
                    <th>Imagepath</th>
                    <td>{{ entity.imagePath }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ entity.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ entity.longitude }}</td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td>{{ entity.comment }}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-5">
            {% if entity.image is defined and entity.image is not null %}
                <div class="imagePreview text-center">
                    <img class="img-thumbnail"
                         src="{{ zantolov_uploader_asset(entity.image, 'imageFile', null, false) | imagine_filter('bigAdminVariation') }}"/>
                </div>
            {% endif %}
        </div>


    {% endblock %}
