{% extends 'LovitBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#btnSub").click(function () {
                var email = $("#email").val();
                var obj = {"email": email};

                $.ajax({
                    type: "POST",
                    url: "/public/projects/{{ project.id }}",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    dataType: "json",

                    data: JSON.stringify(obj),

                    success: function (data) {
                        if (data['status'] === "error") {
                            $(".error").text(data['message']);
                            $(".error").show().delay(5000).fadeOut();
                        }
                        else {
                            $(".success").text(data['message']);
                            $(".success").show().delay(5000).fadeOut();
                        }
                    },

                    error: function (data) {
                        console.log("Ups something went wrong");
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="projectDetails">
        <div class="card text-center">
            <h1>{{ project.name }}</h1>

            {% if project.image is defined and project.image is not null %}
                <div class="imagePreview text-center">
                    <img class="img-thumbnail"
                         src="{{ zantolov_uploader_asset(project.image, 'imageFile', null, false) | imagine_filter('300x200') }}"/>
                </div>
            {% endif %}

            <h4>Description</h4>

            <div>
                {{ project.description }}
            </div>

            <p class="error" style="color: red"></p>

            <p class="success" style="color: green"></p>

        </div>
        <div class="disqus">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'lavit';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                    powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}