{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                PROJECTS
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "project."} %}
            {% endblock %}
        {% endembed %}

        <table class="table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th class="col-sm-2">Groups</th>
                <th class="col-sm-2">Tags</th>
                <th>Feedbacks</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('project.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>
                        {% if entity.image is defined and entity.image is not null %}
                            <div class="imagePreview text-center">
                                <img class="img-thumbnail"
                                     src="{{ zantolov_uploader_asset(entity.image, 'imageFile', null, false) | imagine_filter('thumb') }}"/>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>
                        {% if entity.groups|length > 0 %}
                            {% for group in entity.groups %}
                                <span class="badge">
                                    <span class="hidden">group:{{ group.name }}</span>
                                    {{ group.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.tags|length > 0 %}
                            {% for tag in entity.tags %}
                                <span class="badge">
                                    <span class="hidden">tag:{{ tag.name }}</span>
                                    {{ tag.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ entity.feedbacks|length }}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td class="text-right">
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('project.show', { 'id': entity.id }) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('project.edit', { 'id': entity.id }) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
