{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with {ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Project
            {% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('project.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('project.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                    <li>
                        <a href="{{ url('project.export', {id: entity.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-table"></i> Download XLS
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ url('groups.new') }}?project={{ entity.id }}">
                            <i class="fa fa-plus"></i> New group
                        </a>
                    </li>

                </ul>
            {% endblock %}
        {% endembed %}

        <div class="row">


            <div class="col-md-4">
                <div id="chart" style=""></div>

                <div class="text-center">
                    Average: {{ summary.avg }}
                </div>

            </div>

            <div class="col-md-4">

                {% if entity.image is defined and entity.image is not null %}
                    <div class="imagePreview text-center">
                        <img class="img-thumbnail"
                             src="{{ zantolov_uploader_asset(entity.image, 'imageFile', null, false) | imagine_filter('300x200') }}"/>
                    </div>
                {% endif %}

                <h3>Groups</h3>
                <ul class="list-unstyled">
                    {% for group in entity.groups %}
                        <li>
                            <a class="" style=""
                               href="{{ url('groups.show', {id: group.id}) }}">
                                <i class="fa fa-arrow-right"></i>
                                {{ group.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                <table class="table table-bordered">
                    <tbody>

                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{ entity.description|raw }}</td>
                    </tr>

                    <tr>
                        <th>Createdat</th>
                        <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
                    </tr>
                    <tr>
                        <th>Updatedat</th>
                        <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ entity.active|fontAwesome() }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>



        <script>
            var functions = window.functions || [];
            functions.push(function () {
                $(function () {
                    $('#chart').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: 0,
                            plotShadow: false
                        },
                        title: {
                            text: 'Voting summary',
                            align: 'center',
                            verticalAlign: 'middle',
                            y: 40
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                dataLabels: {
                                    enabled: true,
                                    distance: -50,
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'white',
                                        textShadow: '0px 1px 2px black'
                                    }
                                },
                                startAngle: -90,
                                endAngle: 90,
                                center: ['50%', '75%']
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: 'ratio',
                            innerSize: '50%',
                            data: {{ chart|json_encode()|raw }}
                        }]
                    });
                });
            })
        </script>

    {% endblock %}
