{% extends 'LovitBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                var rating = $("#rating").val();
                var lat = $("#latitude").val();
                var lng = $("#longitude").val();
                var comment = $("#comment").val();

                if (lat === 'undefined') lat = null;
                if (lng === 'undefined') lng = null;
                if (comment === 'undefined') comment = null;

                var obj = {
                    "rating": rating,
                    "latitude": lat,
                    "longitude": lng,
                    "comment": comment
                };

                console.log(JSON.stringify(obj));

                $.ajax({
                    type: "POST",
                    url: "/app/api/feedbacks/{{ project.id }}",
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Api-Token': "{{ token }}"
                    },
                    dataType: "json",

                    data: JSON.stringify(obj),

                    success: function (data) {
                        if (data['status'] === 'error') {
                            $("p.txt-error").text("Ups...something went wrong");

                            console.log('error');
                        }
                        else {
                            $("p.txt-success").text("Feedback submited!").fadeIn();
                            $(".form-group").fadeOut();
                            console.log('success');
                        }
                    },

                    error: function (data) {
                        console.log("Error response");
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div id="projectDetails">
        <div class="card text-center">
            <h1>{{ project.name }}</h1>

            {% if project.image is defined and project.image is not null %}
                <div class="imagePreview text-center">
                    <img class="img-thumbnail"
                         src="{{ zantolov_uploader_asset(project.image, 'imageFile', null, false) | imagine_filter('300x200') }}"/>
                </div>
            {% endif %}

            <h4>Description</h4>

            <div>
                {{ project.description }}
            </div>

            <p class="error" style="display: none"></p>

            <p class="success" style="display: none;"></p>

        </div>
    </div>



    <div class="card">
    <div id="feedback-grp" class="text-center">
        <h2>Feedback</h2>
        <hr/>
        <p class="txt-success" style="display: none"></p>

        <p class="txt-error" style="display: none"></p>

        <div class="form-group">
            <div id="slider">
                <label for="rating">Rating</label>
                <input id="rating" min="0" max="5" type="range" id="rangeinput" value="3"
                       onchange="rangevalue.value=value"/>
                <output id="rangevalue">3</output>

                <p id="err-rating" class="txt-error"></p>
            </div>

            {#<div class="input-group">#}
            {#<label for="image">Image</label>#}
            {#<input class="form-control" id="image" name="image_upload" type="file"/>#}

            {#<p id="err-image" class="txt-error"></p>#}
            {#</div>#}

            {#<div class="input-group">#}
            {#<label for="latitude">Latitude</label>#}
            {#<input class="form-control" id="latitude" type="number" step="0.0000001" name="latitude">#}

            {#<p id="err-latitude" class="txt-error"></p>#}
            {#</div>#}

            {#<div class="input-group">#}
            {#<label for="longitude">Longitude</label>#}
            {#<input class="form-control" id="longitude" type="number" step="0.0000001" name="longitude">#}

            {#<p id="err-longitude" class="txt-error"></p>#}
            {#</div>#}

            {% if 4 in project.allowedTypes %}
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" placeholder="Comment" name="comment"></textarea>

                    <p id="err-comment" class="txt-error"></p>
                </div>
            {% endif %}
            <button id="btnSubmit" class="btn btn-success btn-lg">SUBMIT</button>
        </div>
    </div>
{% endblock %}