{% extends 'LovitBundle::base.html.twig' %}

{% block body -%}
    <div id="logo">
        <img src="{{ asset('bundles/lovit/images/logo.png') }}" alt="">
    </div>

    <div id="projectsIndex" class="equalRow">
        {% for project in projects %}

            <div class="col-md-4 ">
                <div class="card equalItem">
                    <a class="" href="/mobile/feedback/{{ project.id }}">
                        <h2>
                            {{ project.name }}
                        </h2>
                    </a>

                    <div>
                        {{ project.description|raw }}
                    </div>

                    <a class="more" href="/mobile/feedback/{{ project.id }}">
                        <span class="lnr lnr-arrow-right"></span>
                    </a>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}