{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        <h1>ProjectGroup edit</h1>

        {{ form(edit_form) }}

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('groups.index') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endblock %}
