<ul class="list-unstyled">
    {% for group in groups %}
        <li>
            <a href="{{ url('groups.show', {id: group.id}) }}" target="_blank">
                {{ group.name }}
            </a>
        </li>
    {% endfor %}
</ul>