<ul class="list-unstyled">
    {% for project in projects %}
        <li>
            <a href="{{ url('project.show', {id: project.id}) }}" target="_blank">
                {{ project.name }}
            </a>
        </li>
    {% endfor %}
</ul>