{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Groups
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "groups."} %}
            {% endblock %}
        {% endembed %}

        <table class="table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Group name</th>
                <th>Users</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('groups.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>
                        {{ entity.project.name }}
                        <a class="btn btn-default btn-xs pull-right"
                           title="Go to project"
                           href="{{ path('project.show', { 'id': entity.project.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.users|length }}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td class="text-right">
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('groups.show', { 'id': entity.id }) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('groups.edit', { 'id': entity.id }) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
