{% extends 'LovitBundle::baseAdmin.html.twig' %}


    {% block body -%}
        <h1>ProjectGroup</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ entity.project.name }}

                    <a class="btn btn-default btn-xs pull-right"
                       title="Go to project"
                       href="{{ path('project.show', { 'id': entity.project.id }) }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </td>
            </tr>


            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active|fontAwesome() }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('groups.index') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
            <li>
                <a class="btn btn-primary"
                   href="{{ path('groups.edit', { 'id': entity.id }) }}">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endblock %}
