$primaryColor: #9c2678

@mixin css3-prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

// BOX SHADOW
@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: '')
  @if ($inset != "")
    @include css3-prefix('box-shadow', $inset $x $y $blur $color)
  @else
    @include css3-prefix('box-shadow', $x $y $blur $color)

body
  background: #EEE
  font-family: 'Roboto', sans-serif
  font-weight: 300

a, a:hover
  color: $primaryColor
  text-decoration: none

.card
  +box-shadow(0px, 2px, 10px, rgba(0, 0, 0, .08))
  background: #FFF
  padding: 15px
  margin-bottom: 15px

#projectsIndex
  padding: 10px 0

  a
    h2
      font-weight: 400
      margin: 5px 0
      font-size: 1.8em
      color: #9c2678

  a.more
    display: block
    text-align: center
    margin-top: 20px
    font-size: 1.2em

#projectDetails
  padding: 10px 0

  h1
    color: $primaryColor
    font-weight: 400

  #formSubscribe
    input
      display: inline-block
      max-width: 200px
    button
      display: inline-block

#logo
  text-align: center
  padding: 10px 0
  img
    margin: auto
    width: 150px

.txt-success
  background: #eefff6
  padding: 10px

#nav
  padding: 5px 0