body {
  background: #EEE;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

a, a:hover {
  color: #9c2678;
  text-decoration: none; }

.card {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -khtml-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px; }

#projectsIndex {
  padding: 10px 0; }
  #projectsIndex a h2 {
    font-weight: 400;
    margin: 5px 0;
    font-size: 1.8em;
    color: #9c2678; }
  #projectsIndex a.more {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em; }

#projectDetails {
  padding: 10px 0; }
  #projectDetails h1 {
    color: #9c2678;
    font-weight: 400; }
  #projectDetails #formSubscribe input {
    display: inline-block;
    max-width: 200px; }
  #projectDetails #formSubscribe button {
    display: inline-block; }

#logo {
  text-align: center;
  padding: 10px 0; }
  #logo img {
    margin: auto;
    width: 150px; }

.txt-success {
  background: #eefff6;
  padding: 10px; }

#nav {
  padding: 5px 0; }

/*# sourceMappingURL=main.css.map */
