{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Tags
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "lovit.tags."} %}
            {% endblock %}
        {% endembed %}


        <table class="table dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>Slug</th>
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('lovit.tags.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td>{{ entity.slug }}</td>
                    <td class="text-right">
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('lovit.tags.show', { 'id': entity.id }) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('lovit.tags.edit', { 'id': entity.id }) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}