{% extends 'LovitBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Tag Details
            {% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">

                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('lovit.tags.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>

                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('lovit.tags.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </li>

                    <li>{{ form(delete_form) }}</li>

                </ul>
            {% endblock %}
        {% endembed %}

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active|fontAwesome() }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            </tbody>
        </table>

    {% endblock %}
