{% extends "ZantolovAppBundle:Layout:appLayout.html.twig" %}


{% block customStylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/lovit/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link
            href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic&subset=latin,latin-ext'
            rel='stylesheet' type='text/css'>

{% endblock %}

{% block outerBody %}

    <div class="container">
        {% include "ZantolovAppBundle::Layout/partials/flashNotifications.html.twig" with {} %}
    </div>

    <div class="container">
        <div id="nav">
            <ul class="list-unstyled list-inline text-right">
                <li>
                    <a href="{{ url('homepage') }}" class="btn btn-default">
                        <span class="lnr lnr-home"></span> Home
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ url('fos_user_security_logout') }}" class="btn btn-default">
                            <span class="lnr lnr-lock"></span> Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('fos_user_security_login') }}" class="btn btn-default">
                            <span class="lnr lnr-lock"></span> Login
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('fos_user_registration_register') }}"
                           class="btn btn-default">
                            <span class="lnr lnr-user"></span> Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% block body %}
        {% endblock %}
    </div>

{% endblock %}


{% block customJsPlugins %}

    {{ parent() }}

    <script src="{{ asset('bundles/lovit/js/wow.min.js') }}"></script>
    <script src="{{ asset('bundles/zantolovapp/js/matchHeight.min.js') }}"></script>

    <script>
        new WOW().init();

        var functions = window.functions || []
        functions.push(function () {
            $('.equalRow .equalItem').matchHeight();
        });
    </script>

{% endblock %}