{% extends "ZantolovAppBundle:Layout:adminAppLayout.html.twig" %}

{% block customStylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zantolovmedia/css/mediaBundle.css') }}" rel="stylesheet">
{% endblock %}

{% block customJsPlugins -%}
    {{ parent() }}
    <script src="{{ asset('bundles/zantolovmedia/js/imageChooser.js') }}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}